section.authentication {
	height: 100%;
	display: grid;
	place-items: center;
}

section.authentication header h1 {
	font-weight: 700;
	font-size: 1.9rem;
}

section.authentication header p {
	color: #64748b;
}

section.authentication form {
	width: 80%;
	max-width: 400px;
	display: grid;
	gap: 1.5rem;
}

section.authentication form .form-group {
	display: grid;
	gap: 0.6rem;
}

section.authentication form .form-group .input-group {
	position: relative;
}

section.authentication form .form-group .input-group * {
	transition: 150ms;
}

section.authentication form .form-group .input-group input {
	width: 100%;
	padding: 1rem;
	background: none;
	outline: none;
	border: none;
	border: 1.5px solid #64748b;
	border-radius: 0.5rem;
	font-size: 1rem;
	color: #0f172a;
}

section.authentication form .form-group .input-group input:focus, section.authentication form .form-group .input-group input:not(:placeholder-shown) {
	border-color: #0f172a;
}

section.authentication form .form-group .input-group input:focus + label, section.authentication form .form-group .input-group input:not(:placeholder-shown) + label {
	top: 0;
	background: #f8fafc;
	font-size: 0.9rem;
	color: #0f172a;
	padding: 0 0.3rem;
}

section.authentication form .form-group .input-group label {
	color: #64748b;
	position: absolute;
	top: 50%;
	left: 1rem;
	transform: translateY(-50%);
}

section.authentication form p.success,
section.authentication form p.error {
	padding: 1rem;
	border: 1.5px solid;
}

section.authentication form p.success {
	border-color: #22c55e;
	color: #22c55e;
	background: #dcfce7;
}

section.authentication form p.error {
	border-color: #ef4444;
	color: #ef4444;
	background: #fee2e2;
}

section.authentication .btn-group {
	display: flex;
	gap: 0.5rem;
}

section.authentication .btn-group button,
section.authentication .btn-group a {
	padding: 0.75rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	text-decoration: none;
}

section.authentication .btn-group button:first-child,
section.authentication .btn-group a:first-child {
	flex: 1;
	border: none;
	background: #0f172a;
	color: #f8fafc;
}

section.authentication .btn-group button:last-child,
section.authentication .btn-group a:last-child {
	border: 1.5px solid #0f172a;
	background: transparent;
	color: #0f172a;
}
