$main: hsl(222, 47.4%, 11.2%);
$accent: hsl(210, 40%, 98%);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: Sans-Serif;
	color: $main;
}

body {
	background: $accent;
}

#root {
	height: 100vh;
	position: relative;
}